body {
  background-image: linear-gradient(to right, #00212e, #7986cb);
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
  align-items: center;
}

#search-bar {
  width: 100%;
  margin-top: 2em;
  border-radius: 1em;
  padding-left: 1em;
}

body a {
  text-decoration: none;
  color: lightcoral;
}

p{
  margin-top: 2em;
  color: lightgreen;
  display: flex;
  justify-content: center;
}

#image {
  display: flex;
  margin: auto;
  width: 300px;
  border-radius: 1em;
}

#separation {
  display: none;
}

.searchHome {
  display: flex;
  align-items: baseline;
}

.home {
  margin-right: 1em;
  zoom: 1.3;
}
